week2/n8n/support-classification.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -128
      ],
      "id": "e4ac511c-4c16-4f7d-bcc4-c0615891e5c2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.ticket_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a support ticket classifier. Classify the ticket into exactly one category: Bug, Feature, or Question. Respond with only the category name, nothing else."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        352,
        0
      ],
      "id": "c1fd1691-6492-4f2a-a2fe-4129f310e546",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        368,
        160
      ],
      "id": "0c30e320-7a7a-49d2-b9fd-71a5d4eb0ab4",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "AeImaiz9u8yVUKZF",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Bug",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c905acec-ef68-44c3-83d5-7023830cf05e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "98f19f62-4f3e-43d1-a95c-dd4a504606c9",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Feature",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4a12fa14-0425-4576-a887-666690a65cc0",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Question",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        640,
        -16
      ],
      "id": "6b238857-8534-47a6-8806-0a89e22bb868",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "800c4e63-635f-45ed-b2ea-2528234594f0",
              "name": "response",
              "value": "Ticket escalated to engineering team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -128
      ],
      "id": "d069d8e0-e767-443e-8287-4f2f054dcda8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0707e5fc-e907-4051-8442-50749e33705f",
              "name": "response",
              "value": "Added to product backlog",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -16
      ],
      "id": "19a59792-134d-4423-9c14-8e1b9dc1ee99",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afd1a13f-509a-4795-8bd7-ee9ac1ce1a48",
              "name": "response",
              "value": "Routed to support team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        96
      ],
      "id": "3feaf4e0-75f8-4a96-b7b5-8e23a8773cc0",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/ticket-classifier",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        0
      ],
      "id": "1779c9a8-f0e3-491d-877c-7fe5e30c619d",
      "name": "Webhook",
      "webhookId": "c3339d39-9cc1-4713-b798-2098bd214b60"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        0
      ],
      "id": "00adb580-8d52-4ac3-a583-12fada51c4f3",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3ef55a46-1b87-4f2d-9507-40da194e2df3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "026ee390b7d58e0cd8c42ea60c0a35a258aca7d39d9acd2f85f02f1009915818"
  },
  "id": "nze04GuxXyWp0hGw",
  "tags": []
}